In [1]:
import dask.dataframe as dd
import pandas as pd

In [2]:
# Read the csvs for the 12 months in 2018 and create Dask dataframes
df1 = dd.read_csv('resources/JC-201801-citibike-tripdata.csv', dtype={'end station id': 'float64',
      'start station id': 'float64'})

df2 = dd.read_csv('resources/JC-201802-citibike-tripdata.csv', dtype={'end station id': 'float64',
      'start station id': 'float64'})

df3 = dd.read_csv('resources/JC-201803-citibike-tripdata.csv', dtype={'end station id': 'float64',
      'start station id': 'float64'})

df4 = dd.read_csv('resources/JC-201804-citibike-tripdata.csv', dtype={'end station id': 'float64',
      'start station id': 'float64'})

df5 = dd.read_csv('resources/JC-201805-citibike-tripdata.csv', dtype={'end station id': 'float64',
      'start station id': 'float64'})

df6 = dd.read_csv('resources/JC-201806-citibike-tripdata.csv', dtype={'end station id': 'float64',
      'start station id': 'float64'})

df7 = dd.read_csv('resources/JC-201807-citibike-tripdata.csv', dtype={'end station id': 'float64',
      'start station id': 'float64'})

df8 = dd.read_csv('resources/JC-201808-citibike-tripdata.csv', dtype={'end station id': 'float64',
      'start station id': 'float64'})

df9 = dd.read_csv('resources/JC-201809-citibike-tripdata.csv', dtype={'end station id': 'float64',
      'start station id': 'float64'})

df10 = dd.read_csv('resources/JC-201810-citibike-tripdata.csv', dtype={'end station id': 'float64',
      'start station id': 'float64'})

df11 = dd.read_csv('resources/JC-201811-citibike-tripdata.csv', dtype={'end station id': 'float64',
      'start station id': 'float64'})

df12 = dd.read_csv('resources/JC-201812-citibike-tripdata.csv', dtype={'end station id': 'float64',
      'start station id': 'float64'})

In [3]:
# Merge the 12 dataframes to create one dataframe containing data for 2018
year_df = df1.merge(df2,how='outer').merge(df3,how='outer').merge(df4,how='outer').\
        merge(df5,how='outer').merge(df6,how='outer').merge(df7,how='outer').\
        merge(df8,how='outer').merge(df9,how='outer').merge(df10,how='outer').\
        merge(df11,how='outer').merge(df12,how='outer')

In [4]:
year_df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
353887,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694.0,Jackson Square,40.71113,-74.0789,3269.0,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
353888,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694.0,Jackson Square,40.71113,-74.0789,3280.0,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
353889,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694.0,Jackson Square,40.71113,-74.0789,3186.0,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
353890,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694.0,Jackson Square,40.71113,-74.0789,3213.0,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
353891,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694.0,Jackson Square,40.71113,-74.0789,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [5]:
# Compute the count of the number of records
final_year_df = year_df.compute()

# Save the dataframe into a csv
final_year_df.to_csv("resources/JC-2018-citibike-tripdata.csv")

In [6]:
# Read the 2018 data csv and create a Pandas dataframe
data_df = pd.read_csv("resources/JC-2018-citibike-tripdata.csv")
data_df.tail()

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
353887,353887,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694.0,Jackson Square,40.71113,-74.0789,3269.0,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
353888,353888,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694.0,Jackson Square,40.71113,-74.0789,3280.0,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
353889,353889,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694.0,Jackson Square,40.71113,-74.0789,3186.0,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
353890,353890,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694.0,Jackson Square,40.71113,-74.0789,3213.0,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
353891,353891,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694.0,Jackson Square,40.71113,-74.0789,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1